@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Layout */
html,
body {
  height: 100%;
}

.about-container,
.education-container,
.skills-container,
.projects-container {
  min-height: 100%;
  /* margin-bottom: -50px; */
}

.about-section,
.skills-section,
.projects-section,
.education-section {
  text-align: center;
  margin: 2rem auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  position: relative;
  height: 100px;
  text-align: center;
  clear: both;
  color: #fff;
}

a {
  text-decoration: none;
}

/* Header */
#header {
  text-align: center;
  margin: 30px auto;
}

.header-title {
  font-size: 72px;
  font-weight: 700;
  color: #000;
}

.header-text {
  font-size: 20px;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-transform: uppercase;
}

/* Banner */
.banner-section {
  position: relative;
  display: table;
  width: 100%;
}

.banner-img img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-menu {
  display: flex;
}

.navbar-item {
  list-style: none;
  padding: 0 2rem;
  margin: 1rem 0;
}

.navbar-links {
  color: #000;
  text-transform: uppercase;
}

.navbar-links:hover {
  color: #a8a8a8;
}
